@using MeteMarcha.Models.Servico
@model ServicoModel
<link rel="stylesheet" href="~/css/style.css">
<div>
    <h3>Servico</h3>
    <form>
        <div class="form-group">
            <label>Nome</label>
            <input type="text" id="nome" class="form-control" asp-for="Nome" />
        </div>
        <div class="form-group">
            <label>Cliente</label>
            <input type="number" id="nome" class="form-control" asp-for="Cliente" />
        </div>
        <div class="form-group">
            <label>Peça</label>
            <input type="text" id="nome" class="form-control" asp-for="Peca" />
        </div>
    </form>
</div>